<!-- dashboard.html -->
<html>
<head>
    <title>HAProxy Dashboard</title>
</head>
<body>
    <h1>HAProxy Dashboard</h1>

    <div>
        <h2>Requests</h2>
        <ul>
            {% for request in data['requests_data'] %}
                <li>{{ request }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Rendimiento</h2>
        <ul>
            {% for performance in data['performance_data'] %}
                <li>{{ performance }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Lista de URL</h2>
        <ul>
            {% for url in data['url_list'] %}
                <li>{{ url }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
